* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Hero area Section styles */
.hero-area {

    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    height: 700px;
    left: 25px;
    align-items: center;
    justify-content: end;
    text-align: end;
    padding-right: 100px;
    display: flex;
}

.hero-title {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-sub-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.contact-btn{
    color: #fff;
    font-size: 20px;
    border: 0;
    background-color: #F15B22;
    border-radius: 5px;
    padding: 15px 15px;
}
/* failures style */
main {
    max-width: 1140px;
    margin: 0 auto;
}
.Failures-Section{
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding-right: 65px;
    margin-bottom: 130px;
}

.Failures-Title{
    font-size: 40px;
    color: #151414;
    font-weight: 700;
    margin-bottom: 24px;
}
.Failures-Sub-Title{
    font-size: 16px;
    color: #444343;
    margin-bottom: 8px;
    line-height: 26px;
}
.Failures-Sub-Title i {
    color: #16D887;

}